<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::head}">
</head>
<body>
<div class="container">
    <header th:replace="~{layout::header}"></header>
    <section>
        <div class="row my-5 dashboard-admin">
            <div class="col-lg-3 sidebar-admin">
                <h4>MENU</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item active"><a href="#"><i class="fa-solid fa-gauge-high"></i> Tổng quan</a>
                    </li>
                    <li class="list-group-item"><a href="#"><i class="fa-solid fa-ticket"></i> Quản lý đơn hàng</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa-solid fa-clapperboard"></i> Quản lý phim</a>
                    </li>
                    <li class="list-group-item"><a href="#"><i class="fa-solid fa-user-pen"></i></i> Quản lý nhân
                        viên</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa-solid fa-users-viewfinder"></i></i> Quản lý
                        khách hàng</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa-solid fa-file-lines"></i></i> Quản lý bài viết</a>
                    </li>
                    <li class="list-group-item"><a href="#"><i class="fa-solid fa-right-from-bracket"></i> Đăng xuất</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 ps-5 table-dashboard order">
                <div class="create">
                    <a href="#"><i class="fa-solid fa-square-plus"></i> Thêm khách hàng</a>
                </div>
                <div class="table-main">
                    <div class="search-table">
                        <form>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="col-lg-6 form-floating mb-3">
                                        <input type="text" class="form-control" id="nameCustomer"
                                               placeholder="name@example.com">
                                        <label for="nameCustomer"><i class="fa-solid fa-magnifying-glass"></i> Tìm theo tên khách hàng</label>
                                    </div>
                                </div>
                                <div class="col-lg-7 d-flex justify-content-between">
                                    <div class="col-auto form-floating mb-3">
                                        <input type="text" class="form-control" id="phoneCustomer"
                                               placeholder="name@example.com">
                                        <label for="phoneCustomer"><i class="fa-solid fa-magnifying-glass"></i> Tìm theo số điện thoại</label>
                                    </div>
                                    <div class="col-auto form-floating mb-3">
                                        <input type="text" class="form-control" id="gmailCustomer"
                                               placeholder="name@example.com">
                                        <label for="gmailCustomer"><i class="fa-solid fa-magnifying-glass"></i> Tìm theo gmail của khách hàng</label>
                                    </div>
                                    <div class="col-lg-2 form-floating mb-3">
                                        <input type="submit" class="form-control btn btn-primary" value="Tìm">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">ĐỊA CHỈ</th>
                            <th scope="col">TÊN KHÁCH HÀNG</th>
                            <th scope="col">NGÀY THÁNG NĂM SINH</th>
                            <th scope="col">SỐ ĐIỆN THOẠI</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="customer , static: ${customerList}">
                            <td th:text="${static.count}"></td>
                            <td th:text="${customer.address}"></td>
                            <td th:text="${customer.fullName}"></td>
                            <td th:text="${customer.birthday}"></td>
                            <td th:text="${customer.phoneNumber}"></td>
                            <td>
                                <a th:href="@{/dashboard/customer/view/__${customer.id}__}" title="Xem chi tiết"><i
                                        class="fa-solid fa-file-lines"></i></a>
                                <a th:href="@{/dashboard/customer/edit/__${customer.id}__}" title="Sửa"><i
                                        class="fa-solid fa-pen-to-square"></i></a>
                                <a th:attr="onclick=|sendDataModal('${customer.id}','${customer.fullName}')|" title="Xóa"
                                   role="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
                                        class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link">Trước</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Sau</a>
                        </li>
                    </ul>
                </nav>


                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="d-flex">
                                        <div class="icon">
                                            <i class="fa-regular fa-bell"></i>
                                        </div>
                                        <div class="box-header-modal">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: red">Cảnh báo</h1>
                                            <p style="color: red">Hành động nguy hiểm !</p>
                                        </div>
                                    </div>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                                            class="fa-solid fa-circle-xmark"></i></button>
                                </div>
                                <div class="modal-body">
                                    Bạn có chắc chắn muốn xóa khách hàng <span id="name-delete"
                                                                               class="text-danger"></span> này không ?
                                    Hành động này sẽ không thể khôi phục lại !
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    <button id="active-delete" type="submit" class="btn btn-danger">
                                        <a id="delete" style="color: white;text-decoration: none">Xóa</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </section>
</div>
<footer th:replace="~{layout::footer}"></footer>
<script>
    function sendDataModal(id, name) {
        $("#name-delete").html(name)
        // $("#active-delete").attr("href", "/dashboard/customer/delete/" + id)
        $("#delete").attr("href", "/dashboard/customer/delete/" + id)
    }
</script>
</body>
</html>