<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">
</head>
<body>

<div class="container" style="margin-top: 40px">
    <header th:replace="~{layout::header}"></header>
    <div class="row">
        <form th:object="${movieDto}" action="/dashboard/update" method="post">
            <input th:field="*{id}" type="text" hidden="hidden">
            <div class="mb-3">
                <label for="title" class="form-label">Tên phim</label>
                <input th:field="*{title}" type="text" class="form-control" id="title">
            </div>
            <div class="mb-3">
                <label for="director" class="form-label">Đạo diễn</label>
                <input th:field="*{director}" type="text" class="form-control" id="director">
            </div>
            <div class="mb-3">
                <label for="release" class="form-label">Ngày công chiếu</label>
                <input th:field="*{releaseDate}" type="date" class="form-control" id="release">
            </div>
            <div class="mb-3">
                <select th:each="category : ${categoryList}" name="category" class="form-select" aria-label="Default select example">
                    <option th:text="${category.nameCategory}" th:value="${category.id}" >Open this select menu</option>
                </select>
            </div>
            <div class="row g-3">
                <div class="col">
                    <input th:field="*{showTimes}" type="time" class="form-control" placeholder="Giờ khởi chiếu" aria-label="Giờ khởi chiếu">
                </div>
                <div class="col">
                    <input type="time" class="form-control" placeholder="Giờ kết thúc" aria-label="Giờ kết thúc">
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>